<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>Rango</title>
  </head>
  
  <body>

  <h2>Top 5 most Liked Categories</h2>

    <div>
    {% if categories %}
      <ul>
        {% for category in categories %}
          <!-- Following line changed to add an HTML hyperlink -->
          <li><a href="/rango/category/{{ category.slug }}/"> {{ category.name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <strong>There are no categories present.</strong>
    {% endif %}
    </div>

    <h2>Top 5 most Viewed Pages</h2>
    <div>
        <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}"> {{ page.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <a href="/rango/about/">About Rango</a><br />
        <img src="{% static "rango.jpg" %}" alt="Picture of Rango" />
    </div>
  </body>
</html>
